<div class="row">
    <div class="small-4 large-centered columns">
        <h2>Création de votre compte</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

            <%= f.label :name, t('accueil.nom') %>
            <%= f.text_field :name, autofocus: true %>

            <%= f.label :email, t('accueil.email') %>
            <%= f.email_field :email, autofocus: true %>

            <%= f.label :password, t('accueil.mdp') %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t('accueil.char_min') %>)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>

            <%= f.label :password_confirmation, t('accueil.confirmer_mdp') %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>

            <%= f.submit t('accueil.btn-inscription'), class: "button success" %>
        <% end %>
    </div>
</div>