

	<div id="bandeau">
		<img src="" alt="">
	</div>


<div class="main_desk">
	<% i = 1 %>
	<% @arr.each do |dir| %>
		<div class="box color<%= (i-1) % 5 %>">
			<div class="enfant">
				<a href="<%= URI.parse(draw_path(params[:desk], dir)) %>"><%= dir.replace(dir.gsub(/_/, ' ')) %></a>
				<% i = i + 1 %>
			</div>
			<% if current_user.is_admin? %>
				<div class="box_buttons toggle_admin">
					<a class="float-left" data-open="rename_desk-<%= i %>"><i class="fa fa-file-text" aria-hidden="true"></i></a>
					<a class="float-right" href="<%= draw_path(params[:desk], dir.replace(dir.gsub(/\s+/, '_'))) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le dossier <%= dir %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
				</div>
			<% end %>
		</div>

		<div class="reveal" id="rename_desk-<%= i %>" data-reveal>
		  <%= form_for :rename, method: 'put' do |f| %>
			<%= f.label :nom, 'Nouveau nom ' %>
			<%= f.text_field :new_name, value: dir, onkeypress: "return verif(event);" %>
			<%= f.hidden_field :last_name, value: dir %>
			<%= f.submit :go, value: "Valider", class: "button success" %>
		  <% end %>

		  <button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	<% end %>

	<% if @arr.count != 12 && current_user.is_admin?  %>
	<div class="box_add toggle_admin">
		<div class="enfant">
			<a data-open="nouveau_desk"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
		</div>
	</div>
	<% end %>

	<div class="reveal" id="nouveau_desk" data-reveal>
	  <%= form_for :nouv_desk do |f| %>
		<%= f.label :nom, 'Nom du dossier' %>
		<%= f.text_field :nom, onkeypress: "return verif(event);"  %>
		<%= f.submit :go, value: "Valider", class: "button success small" %>
	  <% end %>

	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>
