<!-- affichage des liens -->

<div id="content_onglet" class="row collapse">
		<div class="medium-3 columns">
			    <ul class="tabs vertical"  data-active-collapse="true" id="tabs_draw" data-tabs>
					  <% i = 0 %>
				    <% @arrdraw.each do |a| %>
							<% if i == 0 %>
								<li class="tabs-title is-active" id="tabt<%= i %>">
							<% else %>
								<li class="tabs-title" id="tabt<%= i %>">
							<% end %> <!-- end if -->
								<a href="#tab<%= i %>"><%= a.replace(a.gsub("_", ' ')) %></a>
								</li>
								<% if current_user.is_admin? %>
									<div class="edition">
										<div class="toggle_admin">
											<a data-open="renommer-folder-<%= i %> %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											<a href="<%= folder_path(params[:desk], params[:draw], a.replace(a.gsub(" ", '_'))) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le dossier <%= a.replace(a.gsub("_", ' ')) %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
										</div>
									</div>
								<% end %> <!-- end if -->

							<div class="reveal" id="renommer-folder-<%= i %>" data-reveal>
							  <%= form_for :renommer_folder, method: "put",  url: URI.escape("/#{params[:desk]}/#{params[:draw]}/#{a}") do |f| %>
								<%= f.label :nom, 'Nouveau nom (25 caractères max.)' %>
								<%= f.text_field :new_name, maxlength: "25", value: a.replace(a.gsub('_', ' ')), onkeypress: "return verif(event);", autofocus: true %>
								<%= f.hidden_field :last_name, value: a.replace(a.gsub(' ', '_')) %>
								<%= f.submit :go, value: "Valider", class: "button success" %>
							  <% end %> <!-- end form -->

							  <button class="close-button" data-close aria-label="Close modal" type="button">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
								<% i = i + 1 %>
					  <% end %> <!-- end each -->

						<% if @arrdraw.count != 7 && current_user.is_admin? %>
							<div class="draw_add toggle_admin">
								<a data-open="creer_dossier"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
							</div>
						<% end %>
			    </ul>
		</div> <!-- div medium-3 -->
<!-- contenu des onglets -->
		<div class="medium-9 columns">
			    <div class="tabs-content vertical" data-tabs-content="tabs_draw">
			      <% for i in 0..@arrdraw.count %>
						<% if i == 0 %>
							<div class="tabs-panel is-active" id="tab<%= i %>">
						<% else %>
							<div class="tabs-panel" id="tab<%= i %>">
						<% end %>
						<% if current_user.is_admin? %>
							<div class="row">
								<div class="small-6 medium-6 text-center">
									<a class="toggle_admin" data-open="telech_fichier-<%= @arrdraw[i] %>"><button type="button" class="button success tiny">Ajouter un nouveau fichier</button></a>
								</div>
								<div class="small-6 medium-6 text-center">
									<a class="toggle_admin" data-open="lien_youtube-<%= @arrdraw[i] %>"><button type="button" class="button success tiny">Ajouter un lien YouTube</button></a>
								</div>
							</div>
						<% end %> <!-- end if -->
						<div class="row small-up-1 medium-up-1 large-up-2">
							<div class="column column-block">
								<table>

						<!-- affichage des titres des videos et creation des liens -->
									<% if @table_videos[i] != nil %>
										<% 0.step(@table_videos[i].length-1, 2) do |k| %>
										<tr>
											<td>
													<a class="lk_apercu" data="<%= @table_videos[i][k+1] %>" target="apercu">
														<i class="fa fa-file-video-o size-36 step" aria-hidden="true"></i>
													</a>
											</td>
											<td>
												  <a class="lk_apercu" data="<%= @table_videos[i][k+1] %>" target="apercu">
														<%= @table_videos[i][k] %>
													</a>
											</td>
													<% if current_user.is_admin? %>
													<td>
														<a class="toggle_admin" href="<%= videos_path(params[:desk], params[:draw], @arrdraw[i], @table_videos[i][k]) %>" data-method="post" data-confirm="Souhaitez-vous supprimer le lien pour <%= @table_videos[i][k] %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
													</td>
													<td>
														<a class="toggle_admin" data-open="rename_titre-<%= i %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
													</td>
													<% end %> <!-- end if -->
													<!-- Lien de telechargement pour les petits ecrans et mobiles -->
													<td>
														<a class="" target="_blank" href="<%= @table_videos[i][k+1] %>">
														<i class="fa fa-external-link size-24" aria-hidden="true"></i>
														</a>
													</td>
													<!-- Fin de Lien de telechargement pour les petits ecrans et mobiles -->

													<div class="reveal" id="rename_titre-<%= i %>" data-reveal>
														<%= form_for :titre_rename, url: videos_path(params[:desk], params[:draw], @arrdraw[i], @table_videos[i][k]) do |f| %>
  														<%= f.label :nom, 'Nouveau titre ' %>
  														<%= f.text_field :new_titre, value: @table_videos[i][k], autofocus: true  %>
  														<%= f.submit :go, value: "Valider", class: "button success" %>
  														<% end %> <!-- end form do -->

														<button class="close-button" data-close aria-label="Close modal" type="button">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
										</tr>
										<% end %> <!-- end step j -->
									<% end %> <!-- end if -->
						<!-- fin de affichage des titres des videos et creation des liens -->
						<!-- affichage des fichiers creation des liens -->
				        	<% if @route[i] != nil %>
					        	<% for j in 0..@route[i].length-1 %>
										<tr>
											<!-- Debut des td pour les fichiers yt -->
											<% if @genre[i][j] == '.yt' %>
											<td>
												<a class="lk_apercu" data="<%= @route[i][j] %>" target="apercu">
													<% if @genre[i][j] == '.yt' %><i class="fa fa-file-video-o size-36 step" aria-hidden="true"></i><% end %>
												</a>
											</td>
											<td>
												<a class="lk_apercu" data="<%= @route[i][j] %>" target="apercu">
													<%= @table[i][j] %>
												</a>
											</td>

												<% if current_user.is_admin? %>
												<td>
													<a class="toggle_admin" href="<%= files_path(params[:desk], params[:draw], @arrdraw[i], @table[i][j]+".yt") %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le fichier <%= @table[i][j] %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
												</td>
												<td>
													<a class="toggle_admin" data-open="rename_file-<%= i %><%= j %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
												</td>
												<% end %> <!-- end if -->
												<!-- Lien de telechargement pour les petits ecrans et mobiles -->
												<td>
													<a class="" target="_blank" href="<%= @route[i][j] %>">
													<i class="fa fa-external-link size-24" aria-hidden="true"></i>
													</a>
												</td>

												<div class="reveal" id="rename_file-<%= i %><%= j %>" data-reveal>
													<%= form_for :file_rename, url:  URI.escape("/#{params[:desk]}/#{params[:draw]}/#{@arrdraw[i]}/#{ @table[i][j]+".yt"}/"), method: 'put' do |f| %>
													<%= f.label :nom, 'Nouveau nom ' %>
													<%= f.text_field :new_filename, value: @table[i][j], onkeypress: "return verif(event);", autofocus: true %>
													<%= f.hidden_field :last_filename, value: @table[i][j]+".yt" %>
													<%= f.submit :go, value: "Valider", class: "button success" %>
													<% end %> <!-- end form do -->

													<button class="close-button" data-close aria-label="Close modal" type="button">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
											<!-- Fin des td pour les fichiers yt -->
											<% else %>
											<!-- Debut des td pour les fichiers jpg mp3 pdf -->
											<td>
														<a class="lk_apercu" data="/folders/<%= params[:desk] %>/<%= params[:draw] %>/<%= @arrdraw[i] %>/<%= @route[i][j] %>" target="apercu">
														<% if is_PDF?(@route[i][j]) %><i class="fa fa-file-pdf-o size-36 step" aria-hidden="true"></i> <% end %>
														<% if is_MP3?(@route[i][j]) %><i class="fa fa-file-audio-o size-36 step" aria-hidden="true"></i><% end %>
														<% if is_JPG?(@route[i][j]) %><i class="fa fa-file-image-o size-36 step" aria-hidden="true"></i><% end %>
													</a>
											</td>
											<td>
												  <a class="lk_apercu" data="/folders/<%= params[:desk] %>/<%= params[:draw] %>/<%= @arrdraw[i] %>/<%= @route[i][j] %>" target="apercu">
														<%= @table[i][j] %>
													</a>
											</td>

													<% if current_user.is_admin? %>
													<td>
					        					<a class="toggle_admin" href="<%= files_path(params[:desk], params[:draw], @arrdraw[i], @route[i][j]) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le fichier <%= @table[i][j] %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
													</td>
													<td>
														<a class="toggle_admin" data-open="rename_file-<%= i %><%= j %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
													</td>
													<% end %> <!-- end if -->
													<!-- Lien de telechargement pour les petits ecrans et mobiles -->
													<td>
														<a class="" target="_blank" href="/folders/<%= params[:desk] %>/<%= params[:draw] %>/<%= @arrdraw[i] %>/<%= @route[i][j] %>">
														<i class="fa fa-external-link size-24" aria-hidden="true"></i>
														</a>
													</td>

													<!-- Fin de Lien de telechargement pour les petits ecrans et mobiles -->

		        					<div class="reveal" id="rename_file-<%= i %><%= j %>" data-reveal>
											  <%= form_for :file_rename, url:  URI.escape("/#{params[:desk]}/#{params[:draw]}/#{@arrdraw[i]}/#{@route[i][j]}/"), method: 'put' do |f| %>
												<%= f.label :nom, 'Nouveau nom ' %>
												<%= f.text_field :new_filename, value: @route[i][j].gsub(get_extension(@route[i][j]), ""), onkeypress: "return verif(event);", autofocus: true %>
												<%= f.hidden_field :last_filename, value: @route[i][j] %>
												<%= f.submit :go, value: "Valider", class: "button success" %>
											  <% end %> <!-- end form do -->

											  <button class="close-button" data-close aria-label="Close modal" type="button">
											    <span aria-hidden="true">&times;</span>
											  </button>
											</div>
											<% end %>
											<!-- Fin des td pour les fichiers jpg mp3 pdf -->
										</tr>
		        				<% end %> <!-- end for j -->
	        				<% end %> <!-- end if -->
							<!-- fin de affichage des fichiers creation des liens -->
							</table>
							</div> <!-- fermeture de medium-4 -->
							<div class="column column-block apercu">
								<button class="close-apercu" type="button">
									<span aria-hidden="true">&times; <span class="btn-txt"><%= t('draw.close') %></span></span>
								</button>
								<iframe id="apercu" width="100%" height="70px" frameborder="0" allowfullscreen></iframe>
							</div>
						</div> <!-- fermeture de la row -->
					</div> <!-- fermeture tabs-panel -->
			    <% end %> <!-- end for i -->
		</div> <!-- div tabs-content -->
  </div> <!-- div medium-9 -->
</div> <!-- content-onglet -->

<div class="reveal" id="creer_dossier" data-reveal>
  <%= form_for :nouv_dossier do |f| %>
	<%= f.label :nom, 'Nom du dossier (25 caractères max.)' %>
	<%= f.text_field :nom, maxlength: "25",  onkeypress: "return verif(event);", autofocus: true  %>
	<%= f.submit :valider, value: "Valider", class: "button success tiny" %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<% @arrdraw.each_with_index do |a, i| %>
	<div class="reveal" id="telech_fichier-<%= a %>" data-reveal>
		<%= form_tag draw_path, method: "post", multipart: true do %>
		<%= label_tag :nom, 'Nom du dossier (pdf, jpg, mp3)' %>
		<%= file_field_tag "fichiers[]",  multiple: "true" %>
		<%= hidden_field_tag :dossier_courant, a %>
		<%= submit_tag :envoyer, value: "Télécharger", class: "button success tiny" %>
		<% end %>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="reveal" id="lien_youtube-<%= a %>" data-reveal>
		<%= form_for :nouv_youtube do |f| %>
		<%= f.label :titre, 'Titre de la vidéo' %>
		<%= f.text_field :titre, maxlength: "25" %>
		<%= f.label :nom, 'Copiez le lien youtube' %>
		<%= f.text_field :nom, maxlength: "75" %>
		<%= hidden_field_tag :dossier_courant, a %>
		<%= f.submit :valider, value: "Ajouter", class: "button success tiny" %>
		<% end %>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% end %>
