
<!-- ////////// BREADCRUMB /////////// -->

<div id="breadcrumb" class="row">
	<div class="small-4 medium-7 columns bread_home">
		<a href="<%= root_path %>"><h4>HOME</h4></a>
	</div>
	<div class="small-8 medium-5 columns bread_title">
		<h4><%= @breadcrumb %></h4>
	</div>
</div>

<!-- affichage des liens -->
	<div class="row">
		<div class="medium-12 columns">
			<div id="content_onglet" class="row collapse">
			  <div class="medium-3 columns">
			    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
			      <!-- <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">exemple</a></li>-->
				  <% i = 0 %>
			    <% @arr.each do |a| %>
					<li class=<% if i == 0 %>"tabs-title is-active"<% else %>"tabs-title"<% end %>">
						<a href="#<%= @arr[i] %>"><%= a %></a>
					</li>
					<% if current_user.is_admin? %>
						<div class="toggle_admin edition">
							<a data-open="rename_desk-<%= a %>"><i class="fa fa-file-text" aria-hidden="true"></i></a>
							<a href="<%= draws_path(params[:desk], params[:draw], a) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le dossier <%= a %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
						</div>
					<% end %>

					<div class="reveal" id="rename_desk-<%= a %>" data-reveal>
					  <%= form_for :rename, method: 'put' do |f| %>
						<%= f.label :nom, 'Nouveau nom ' %>
						<%= f.text_field :new_name, value: a %>
						<%= f.hidden_field :last_name, value: a %>
						<%= f.submit :go, value: "Valider", class: "button success" %>
					  <% end %>

					  <button class="close-button" data-close aria-label="Close modal" type="button">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<% i = i + 1 %>

			    <% end %>
			    </ul>
			    	<% if current_user.is_admin? %>
						<div class="draw_add toggle_admin">
							<a data-open="creer_dossier"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
						</div>
					<% end %>
			  </div>


<!-- contenu des onglets -->

			    <div class="medium-9 columns">
			    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
			      <%
			      for i in 0..@arr.count %>
				      <div class="tabs-panel" id="<%= @arr[i] %>">
				        <ul>
				        	<% if @table[i] != nil %>
					        	<% for j in 0..@table[i].length-1 %>
		        					<li>
		        					<a target="_blank"><i class="fi-page-export-pdf size-36 step"></i><%= @table[i][j] %></a> <br/>
		        					<a href="<%= delete_file_path(params[:desk], params[:draw], @arr[i], @table[i][j]) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le fichier <%= @table[i][j] %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
		        					</li>
		        					<a data-open="rename_file-<%= i %>"><i class="fa fa-file-text" aria-hidden="true"></i></a>
		        					<div class="reveal" id="rename_file-<%= i %>" data-reveal>
											  <%= form_for :file_rename, url: "/#{params[:desk]}/#{params[:draw]}/#{URI.parse URI.encode(@arr[i])}/#{@table[i][j]}/", method: 'put' do |f| %>
												<%= f.label :nom, 'Nouveau nom ' %>
												<%= f.text_field :new_filename, value: @table[i][j] %>
												<%= f.hidden_field :last_filename, value: @table[i][j] %>
												<%= f.submit :go, value: "Valider", class: "button success" %>
											  <% end %>

									  <button class="close-button" data-close aria-label="Close modal" type="button">
									    <span aria-hidden="true">&times;</span>
									  </button>
									</div>
		        				<% end %>
	        				<% end %>
				        </ul>
				        <% if current_user.is_admin? %>
				        	<a class="toggle_admin" data-open="telech_fichier-<%= @arr[i] %>"><button type="button" class="button success">Envoyer un nouveau fichier</button></a>
				        <% end %>
				      </div>
			      <% end %>

			      <!--
			      <div class="tabs-panel is-active" id="panel2v">
			        <ul>
                <li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

			      <div class="tabs-panel" id="panel3v">
			        <ul>
			        	<li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

				-->

			    </div>

			  </div>
		</div>
	</div>
	</div>



<div class="reveal" id="creer_dossier" data-reveal>
  <%= form_for :nouv_dossier do |f| %>
	<%= f.label :nom, 'Nom du dossier' %>
	<%= f.text_field :nom %>
	<%= f.submit :valider, value: "Valider", class: "button success" %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<% @arr.each do |a| %>
<div class="reveal" id="telech_fichier-<%= a %>" data-reveal>
	<%= form_for :nouv_fichier do |f| %>
	<%= f.label :nom, 'Nom du dossier' %>
	<%= f.file_field :fichier %>
	<%= f.hidden_field :dossier_courant, value: a %>
	<%= f.submit :envoyer, value: "Télécharger", class: "button success" %>
	<% end %>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% end %>
