<!-- affichage des liens -->
	<div class="row">
		<div class="medium-12 columns">
			<div id="content_onglet" class="row collapse">
			  <div class="medium-3 columns">
			    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
			      <!-- <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">exemple</a></li>-->
				  <% i = 0 %>
			    <% @arr.each do |a| %>
					<li class=<% if i == 0 %>"tabs-title is-active"<% else %>"tabs-title"<% end %>">
						<a href="#<%= i+1 %>"><%= a %></a>
					</li>
					<a data-open="rename_desk"><i class="fa fa-file-text" aria-hidden="true"></i></a>
					<a href="<%= draws_path(params[:desk], params[:draw], a) %>" data-method="delete" data-confirm="Souhaitez-vous supprimer le dossier <%= a %> ? Cette action est irréversible et ne peux être annuler."><i class="fa fa-trash" aria-hidden="true"></i></a>
					<% i = i + 1 %>
					<div class="reveal" id="rename_desk" data-reveal>
					  <%= form_for :rename, method: 'put' do |f| %>
						<%= f.label :nom, 'Nouveau nom ' %>
						<%= f.text_field :new_name, value: a %>
						<%= f.hidden_field :last_name, value: a %>
						<%= f.submit :go, value: "Valider", class: "button success" %>
					  <% end %>

					  <button class="close-button" data-close aria-label="Close modal" type="button">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
			    <% end %>
			    </ul>
					<div class="draw_add">
						<a data-open="creer_dossier"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
					</div>
			  </div>


<!-- contenu des onglets -->

			    <div class="medium-9 columns">
			    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
			      <%
			      for i in 0..@arr.count %>
				      <div class="tabs-panel" id="<%= i %>">
				        <ul>
				        	<% if @table[i-1] != nil %>
					        	<% for j in 0..@table[i-1].length-1 %>
		        					<li>
		        					<a target="_blank"><i class="fi-page-export-pdf size-36 step"></i><%= @table[i-1][j] %></a>
		        					</li>
		        				<% end %>
	        				<% end %>
				        </ul>
				        <a data-open="telech_fichier"><button type="button" class="button primary">Envoyer un nouveau fichier</button></a>
				      </div>
			      <% end %>

			      <!--
			      <div class="tabs-panel is-active" id="panel2v">
			        <ul>
                <li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

			      <div class="tabs-panel" id="panel3v">
			        <ul>
			        	<li><a target="_blank" href=""><i class="fi-page-export-pdf size-36 step"></i>exemple PDF</a></li>
			        </ul>
			      </div>

				-->

			    </div>

			  </div>
		</div>
	</div>
	</div>



<div class="reveal" id="creer_dossier" data-reveal>
  <%= form_for :nouv_dossier do |f| %>
	<%= f.label :nom, 'Nom du dossier' %>
	<%= f.text_field :nom %>
	<%= f.submit :valider, value: "Valider", class: "button success" %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="reveal" id="telech_fichier" data-reveal>
  <%= form_for :nouv_fichier do |f| %>
	<%= f.label :nom, 'Nom du dossier' %>
	<%= f.file_field :fichier %>
	<%= f.submit :envoyer, value: "Mettre à jour", class: "button success" %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
