<% if user_signed_in? && current_user.is_admin? %>
  <h4 class="text-center">Administration des utilisateurs</h4>
  <ul class="tabs vertical"  data-active-collapse="true" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1r" aria-selected="true">Création d'un utilisateur</a></li>
    <li class="tabs-title"><a href="#panel2r">Edition des utilisateurs</a></li>
    <li class="tabs-title"><a href="#panel3r">Statistiques</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="example-tabs">

    <div class="tabs-panel is-active" id="panel1r">
      <p>Création</p>
      <%= form_for :eleve, url: "#{desk_path}" do |f| %>
        
        <%= f.label :identifiant_eleve, "Identifiant de l'élève" %>
        <%= f.text_field :identifiant_eleve %>
        
        <%= f.label :password, "Mot de l'élève" %>
        <%= f.password_field :password %>

        <%= f.submit :valider, value: "Valider", class: "button primary" %>

      <% end %>
    </div>

    <div class="tabs-panel" id="panel2r">
      <p>Edition</p>
      <ul>
        <% @eleves.each do |e| %>
          <li><%= e.identifiant_eleve %> <a href="#" data-method="delete"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="panel3r">
      <p>Statistiques</p>
    </div>

  </div>

  <h4 class="text-center">Stockage: <%= %> %</h4>

  </div>
<% end %>
