<% if user_signed_in? %>
  <%= form_for :preferences do |f| %>
  <h4 class="text-center"><%= t('canvas_l.prefs_admin') %></h4>
  <ul class="accordion" data-accordion>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title"><%= t('canvas_l.couleurs') %></a>
        <div class="accordion-content" data-tab-content>
            <% @palette.each do |p| %>
              <div class="col_config">
                <div class="check-palette">
                  <%= f.radio_button :color, p.ref  %>
                </div>
                <div class="div-palette">
                  <div class="col" style="background-color: #<%= p.c1 %>"></div>
                  <div class="col" style="background-color: #<%= p.c2 %>"></div>
                  <div class="col" style="background-color: #<%= p.c3 %>"></div>
                  <div class="col" style="background-color: #<%= p.c4 %>"></div>
                  <div class="col" style="background-color: #<%= p.c5 %>"></div>
                </div>
              </div>
            <% end %>
          </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><%= t('canvas_l.polices') %></a>
      <div class="accordion-content" data-tab-content>
        <% @police.each do |p| %>
          <div class="pol_config">
              <%= f.radio_button :police, p.ref  %><label for="preferences_police_<%= p.ref %>"><span style="font-family: <%= p.nom %>;"><%= p.nom.upcase %></span></label>
          </div>
        <% end %>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><%= t('canvas_l.images') %></a>
      <div class="accordion-content" data-tab-content>
        <% @image.each do |p| %>
          <div class="img_config">
              <%= f.radio_button :image, p.ref  %>
              <% if p.nom == '' %>
                <%= t('canvas_l.no_img') %>
              <% else %>
                <label for="preferences_image_<%= p.ref %>"><img src="/img/small_<%= p.nom %>" alt="<%= p.nom %>"></label>
              <% end %>
          </div>
        <% end %>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><%= t('canvas_l.layout') %></a>
      <div class="accordion-content" data-tab-content>
        <% @layouts.each do |p| %>
          <div class="layout_config">
            <%= f.radio_button :layout, p.ref %>
              <label for="preferences_layout_<%= p.ref %>"><img src="/img/layout_<%= p.ref %>.jpg" alt="layout_<%= p.ref %>"></label>
          </div>
        <% end %>
      </div>
    </li>
  </ul>

  <br />
  <div class="text-center">
    <%= f.submit :valider, value: t('canvas_l.btn-valider'), class: "button success small" %>
  </div>
  <% end %>
<% end %>
