<% if user_signed_in? && current_user.is_admin? %>
<p class="text-center">
    <a href="/"><img src="/img/fr.png" class="config-logo" alt="Langue française"/></a>
    <a href="/en<%= request.path %>"><img src="/img/en.png" class="config-logo" alt="Langue anglaise"/></a>
    <a href="#"><img src="/img/br.png" class="config-logo" alt="Langue brésilienne"/></a>
</p>

<h4 class="text-center"><%= t('canvas_r.admin_user_titre') %></h4>
<ul class="accordion" data-accordion>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= t('canvas_r.renommer_espace') %></a>
        <div class="accordion-content" data-tab-content>
            <%= form_for :nom_espace, method: "put", url: desk_path do |f| %>
            <%= f.label :nom, t('canvas_r.nom_espace') %>
            <%= f.text_field :nom, placeholder: @compte.nom, onkeypress: "return verif(event);", maxlength: 20 %>
            <%= f.label :titre, t('canvas_r.titre_espace') %>
            <%= f.text_field :titre, value: @compte.titre_espace, maxlength: 60 %>
            <br/>
            <%= f.submit :valider, value: t('canvas_r.valider'), class: "success button small" %>
            <% end %>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= t('canvas_r.creation_utilisateur') %></a>
        <div class="accordion-content" data-tab-content>
            <%= form_for :eleve, url: desk_path(current_user.nom) do |f| %>

            <%= f.label :identifiant_eleve, t('canvas_r.nom_utilisateur') %>
            <%= f.text_field :identifiant_eleve %>

            <%= f.label :password, t('canvas_r.mdp') %>
            <%= f.password_field :password %>
            <br/>
            <%= f.submit :valider, value: t('canvas_r.valider'), class: "success button small" %>

            <% end %>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= t('canvas_r.edition_utilisateur') %></a>
        <div class="accordion-content" data-tab-content>
            <ul>
                <%= form_tag desk_path(current_user.nom), method: :delete do %>
                <%= hidden_field_tag :hidden, value: "delete_eleve" %>
                <% @eleves.each do |e| %>
                <%= check_box_tag "mesEleves[]", e.id %>
                <%= e.identifiant_eleve %>
                <br/>
                <% end %>
                <hr/>
                <%= submit_tag :supprimer, class: "success button small" %>
                <% end %>

            </ul>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= t('canvas_r.statistiques') %></a>
        <div class="accordion-content" data-tab-content>
            <p><%= t('canvas_r.stockage') %>
                :
                <%= @mo_used %>
                <%= t('canvas_r.mo_utilise') %>
                <strong>500
                    <%= t('canvas_r.mo_dispo') %></strong><br/>
                <div class="text-center success progress" role="progressbar" tabindex="0" aria-valuenow="<%= @total %>" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-meter" style="width: <%= @total %>%">
                        <p class="progress-meter-text"><%= @total %>%</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <h6 class="pdp_canvas"><a href="http://www.artandteo.com"><h6><i class="fa fa-copyright" aria-hidden="true"></i> artandteo</h6></a><a target="_blank" href="http://www.artandteo.com/contact">Nous contacter</a></h6>
    <% end %>
