<div class="expanded row top-bar">
  <div class="medium-1">
    <% if user_signed_in? && current_user.is_admin? %>
    <div class="toggle_admin">
      <button type="button" data-toggle="offCanvas"><img class="config-logo" src="/img/logo_silo_ico.png" alt="Icone de menu Silo" /></button>
    </div>
    <% end %>
  </div>

  <div class="medium-8">
    <% if user_signed_in? %>
      <a class="float-left" href="<%= root_path %>"><h1><%= current_user.nom %></h1></a>
    <% else %>
      <a class="float-left" href="<%= root_path %>"><img class="top-logo" src="/img/logo_silo_small.png" alt="Logo de Silo by artandteo" /></a>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.is_admin? %>
    <div class="medium-1">
      <div class="switch tiny vertical-center">

        <input class="switch-input" id="yes-no" type="checkbox" checked="true" name="adminSwitch">
        <label class="switch-paddle" for="yes-no">
          <span class="show-for-sr">Admin</span>
          <span class="switch-active" aria-hidden="true"></span>
          <span class="switch-inactive" aria-hidden="true"></span>
        </label>

      </div>
    </div>
  <% end %>

  <div class="medium-1">
    <% if user_signed_in? %>
    	<!-- Connecté en tant que <%= current_user.email %> -->
      <a data-method="delete" href="<%= destroy_user_session_path %>"><button type="button" class="vertical-center success button tiny">Déconnexion</button></a>
    <% else %>
      <a href="<%= new_user_session_path %>"><button type="button" class="vertical-center float-right success button tiny">Se connecter</button></a>
    <% end %>
  </div>

  <div class="medium-1">
    <% if user_signed_in? && current_user.is_admin? %>
    <div class="toggle_admin">
      <button type="button" data-toggle="offCanvas_r"><img class="config-logo" src="/img/logo_silo_ico.png" alt="Icone droit de menu Silo" /></button>
    </div>
    <% end %>
  </div>

</div>

<!-- ////////// BREADCRUMB DRAW /////////// -->
<% if params[:draw] %>
<div id="breadcrumb" class="row">
	<div class="small-4 medium-7 columns bread_home">
		<a href="<%= root_path %>"><h4>ACCUEIL</h4></a>
	</div>
	<div class="small-8 medium-5 columns bread_title">
		<h4><%= @breadcrumb %></h4>
	</div>
</div>
<% end %>
