
<div class="expanded row top-bar">

  <div class="medium-1">
    <% if user_signed_in? %>
    <div class="toggle_admin">
      <button type="button" data-toggle="offCanvas"><img class="config-logo" src="/img/logo_silo_ico.png" alt="Icone de menu Silo" /></button>
    </div>
    <% end %>
  </div>

  <div class="medium-7">
    <% if user_signed_in? %>
      <a class="float-left" href="<%= root_path %>"><h1><%= current_user.name %></h1></a>
    <% else %>
      <a class="float-left" href="<%= root_path %>"><img class="top-logo" src="/img/logo_silo_small.png" alt="Logo de Silo by artandteo" /></a>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="medium-2">
      <div class="switch small vertical-center">

        <input class="switch-input" id="yes-no" type="checkbox" checked="true" name="adminSwitch">
        <label class="switch-paddle" for="yes-no">
          <span class="show-for-sr">Admin</span>
          <span class="switch-active" aria-hidden="true">1</span>
          <span class="switch-inactive" aria-hidden="true">0</span>
        </label>

      </div>
    </div>
  <% end %>

  <div class="medium-2">
    <% if user_signed_in? %>
    	<!-- Connecté en tant que <%= current_user.email %> -->
      <a data-method="delete" href="<%= destroy_user_session_path %>"><button type="button" class="vertical-center float-right success button small">Déconnexion</button></a>
    <% else %>
      <a href="<%= new_user_session_path %>"><button type="button" class="vertical-center float-right success button small">Se connecter</button></a>
    <% end %>
  </div>

</div>
