<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SILO" %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <%= render 'layouts/canvas' %>
    </div>
    <div class="off-canvas position-right" id="offCanvas_r" data-off-canvas>
      <%= render 'layouts/canvas_r' %>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
        <header class="">
          <%= render 'layouts/header' %>
        </header>

        <main class="">
          <% flash.each do |key, value| %>
             <div class="callout <%= key %>" style="margin-top: 7px"><%= value %></div>
          <% end %>
          <%= yield %>
        </main>

      <% if !signed_in? %>
        <footer class="">
          <%= render 'layouts/footer' %>
        </footer>
      <% end %>
    </div>
    <% if user_signed_in? %>
        <script async type="text/javascript">
        window.color0 = '<%= j @pref.color1.to_s %>';
        window.color1 = '<%= j @pref.color2.to_s %>';
        window.color2 = '<%= j @pref.color3.to_s %>';
        window.color3 = '<%= j @pref.color4.to_s %>';
        window.color4 = '<%= j @pref.color5.to_s %>';
        window.police = '<%= j @pref.polices.to_s %>';
        window.image = '<%= j @pref.img_header.to_s %>';
        window.margin = '<%= j @layout.margin.to_s %>';
        window.minwidth = '<%= j @layout.minwidth.to_s %>';
        window.radius = '<%= j @layout.radius.to_s %>';
      </script>
    <% end %>
  </body>
</ht  ml>
