<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SILO" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <!-- Close button -->
      <button class="menu-icon" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <%= render 'layouts/canvas' %>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
        <header class="">
          <%= render 'layouts/header' %>
        </header>

        <main class="">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </main>

        <footer class="">
          <%= render 'layouts/footer' %>
        </footer>
    </div>


    <script type="text/javascript">
      $( ".col_config_1" ).click(function() {
        $( ".top-bar" ).css( "background-color", "#34393E" );
        $( "footer" ).css( "background-color", "#34393E" );
      });
      $( ".col_config_2" ).click(function() {
        $( ".top-bar" ).css( "background-color", "#FF0000" );
        $( "footer" ).css( "background-color", "#FF0000" );
      });
      $( ".pol_1" ).click(function() {
        $( "h1, h2, h3, h4, h5, h6, p, li, a" ).css( "font-family", "Lato" );
      });
      $( ".pol_2" ).click(function() {
        $( "h1, h2, h3, h4, h5, h6, p, li, a" ).css( "font-family", "Roboto" );
      });
    </script>

  </body>
</html>
